<div class="menu-left">
	<ul>
		<li><a routerLink='qwe' routerLinkActive='selected'>about__1</a></li>
		<li><a routerLink='zxc' routerLinkActive='selected'>about__2</a></li>
	</ul>
</div>

<div class="main-content">
	<p>
	  about works!
	</p>
</div>
