<div class="menu-left">
	<ul>
		<li><a routerLink='qwe' routerLinkActive='selected'>qwe</a></li>
		<li><a routerLink='zxc' routerLinkActive='selected'>zxc</a></li>
	</ul>

</div>

<div class="main-content">
	<router-outlet></router-outlet>
</div>