<div class="menu-left">
	<ul>
		<li><a routerLink='qwe' routerLinkActive='selected'>info__1</a></li>
		<li><a routerLink='zxc' routerLinkActive='selected'>info__2</a></li>
	</ul>
</div>

<div class="main-content">
	<p>Info Working</p>
</div>
