<div class="app-menu">
	

	<ul>
		<li>StealthLess</li>
  		<li><a routerLink='main'  routerLinkActive='selected'>Main</a></li>
  		<li><a routerLink='about' routerLinkActive='selected'>About</a></li>
  		<li><a routerLink='info'  routerLinkActive='selected'>Info</a></li>
	</ul>

</div>


<div class="wrapper-all-content">
	<router-outlet></router-outlet>
</div>

