.app-menu{
	height: 50px;
	background: rgba(0,0,0, 0.6);
	position: fixed;
	display: flex;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	/*z-index: 10;*/
	display: flex;
	box-sizing: border-box;
	width: 100%;
	flex-direction: column;
	border-bottom: 1px solid skyblue;
}

.app-logo{
	width: 150px;
	margin: 0;
	/*line-height: 40px;*/
	text-align: center;
}

.app-menu ul{
	position: absolute;
	display: inline-block;
	font-size: 0;
}

.app-menu li{
	text-transform: uppercase;
	list-style: none;
	display: inline-block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px
}


.app-menu a{
	font-size: 20px;
	color: inherit;
	display: inline-block;
	text-decoration: none;
	cursor: default;
	transition: 0.4s;
}

.app-menu a:hover{
	color: skyblue;
}

.app-menu a.selected{
	box-sizing: border-box;
	border-bottom: 0;
	height: 100%;
	color: skyblue;
}





