/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: museo; /* Гарнитура шрифта */
    src: url(fonts/MuseoSansMedium.woff); /* Путь к файлу со шрифтом */
  }

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'museo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 900;
	background: url(img/diablo_3.gif) no-repeat center center fixed;
	background-size: cover;
	color: white;
	height: 100vh;
	overflow: auto;
}

.text-wrapper{
	width: 666px;
	padding: 20px 50px;
	word-spacing: 0.1em;
	line-height: 2em;
	text-align: justify;
}



.menu-left{
	position: fixed;
	top: 50px;
	/*float: left;*/
	display: inline;
	height: 100%;
	width: 150px;
	text-align: center;
	border-bottom: 1px solid skyblue;
	border-right:  1px solid skyblue;
	text-transform: uppercase;
	/*padding-top: 1px;*/
}


.menu-left a{
	color: inherit;
	display: inline-block;
	width: 150px;
	line-height: 40px;
	font-size: 14px;
	text-decoration: none;
	cursor: default;
}

.menu-left a:hover{
	color: skyblue;
}

.menu-left a.selected{
	color: skyblue;
	background: #111;
}

.menu-left a.selected:before{
	content: "• ";
}

.menu-left a.selected:after{
	content: " •";
}

.wrapper-all-content{
	position: absolute;
	top: 50px;
	height: calc(100% - 50px - 1px);
	width: 100%;
	background: rgba(0,0,0, 0.6);
	overflow: auto;
	border-bottom: 1px solid skyblue;
}



.main-content{
	height: 100%;
	margin-left: 150px;
	
}
